<!--Login -->
<div data-role="page" id="login">
  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>Red Avila</h1>
  </div>
  <div role="main" class="ui-content" >

    <form class="form" id="loginForm" data-position="fixed">
      <label for="log-txtCorreo">Correo electronico</label>
      <input type="email" id="Email" name="txtCorreo" value="" placeholder="Ingrese Correo de Usuario">
      <label for="usuario-txtPass">Contraseña</label>
      <input type="password" id="Password" name="txtPass" value="" placeholder="Ingrese Contraseña">
      <button type="button" id="btnIniciarSesion" >Iniciar Sesión</button>
      <label class="center-label">Si no tienes cuenta registrate llenando el formulario</label>
      <a href="#Registrar"><button type="button" >Registrate</button></a>
    </form>

  </div>
  <div data-role="footer" data-theme="b" data-position="fixed">
    <div data-role="navbar">
      <ul>
      <li>
        <a href="#login" >Inicio</a>
      </li>
      </ul>
    </div>
  </div>
</div>

<!--Registrar -->
<div data-role="page" id="Registrar">
  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>Red Avila</h1>
  </div>

  <div role="main" class="ui-content" >
    <form name="Registrar" class="form" id="registerForm" data-position="fixed" method="post" action="validateform">
      <label for="registerf-txtCorreo">Ingrese su Nombre Completo</label>
      <input type="email" id="NombreCompleto" name="NombreCompleto" value="" placeholder="Ingrese su nombre Completo" required="true" data-required-msg="El nombre de usuario es requerido">
      <label for="registerf-txtCorreo">Ingrese su Correo Electronico</label>
      <input type="email" id="Email" name="Email" value="" placeholder="Ingrese Correo de su Usuario" required="true" data-required-msg="El correo electrónico es requerido">
      <label for="usuario-txtPass">Contraseña</label>
      <input type="password" id="Password" name="Password" value="" placeholder="Ingrese su Contraseña" required="true" data-required-msg="La contraseña es requerida">
      <label for="usuario-txtPass">Confirmar Contraseña</label>
      <input type="password" id="usuario-txtPassConf" name="txtPassConf" value="" placeholder="Confirme Contraseña" >
      <button type="button" id="btnRegistrarUsuario">Registrate</button>
    </form>
    </div>
  <div data-role="footer" data-theme="b" data-position="fixed">
    <div data-role="navbar">
      <ul>
      <li>
        <a href="#login" >Inicio</a>
      </li>
      </ul>
    </div>
  </div>
</div>



<!--Administrador  -->
<div data-role="page" id="Principal">
  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>Red Avila</h1>
  </div>
  <h2 align="center" >Bienvenido Admin<span id="txtAdmin"></span></h2>
  <div role="main" class="ui-content" >
    <h2 align="center" ></h2>

    <ul data-role="listview">
          <li><a href="#splash" class="ui-btn ui-icon-calendar ui-btn-icon-right">Bitácoras</a></li>
          <li><a href="#historia"  class="ui-btn ui-icon-phone ui-btn-icon-right">Lista de Contactos</a></li>
          <li><a href="#usuario"  class="ui-btn ui-icon-user ui-btn-icon-right">Crear Usuario</a></li>
        </ul>

  </div>
    <div data-role="footer" data-theme="b" data-position="fixed">
      <div data-role="navbar">
        <ul>
        <li>
          <button class="button" id="btnCerrar"type="button" name="button" data-theme="b">Cerrar Session</button>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!--Nuevo evento-->
!--Eventos -->
<div data-role="page" id="splash">
  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>Red Avila</h1>
  </div>
  <div role="main" class="ui-content" >
    <div class="ui-controlgroup-controls">
      <div><h2>Bitácora de Eventos</h2></div>
      <a href="#itemCreate" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left ui-last-child " data-position="fixed">Crear nueva Bitacora</a>
    </div>

  <ul id="splash_list" data-role="listview" data-inset="true">  </ul>
  </div>
  <div data-role="footer" data-theme="b" data-position="fixed">
    <div data-role="navbar">
          <ul>
          <li>
            <a href="#Principal" >Regresar</a>
          </li>
          <li>
            <button class="button" id="btnCerrar"type="button" name="button" data-theme="b">Cerrar Session</button>
          </li>
          </ul>
        </div>
      </div>
</div>

<!--Nuevo evento-->
<div data-role="page" id="itemCreate">
  <div data-role="header" data-position="fixed" data-theme="b">
    <h1>Red Avila</h1>
  </div>
  <div role="main" class="ui-content" >
    <h2 align="center" >Crear Bitacora<span id="txtUsuarioI"></span></h2>

<form id="Evento-create-form" data-position="fixed">
  <div data-role="navbar">
  <label for="Evento-txtNombre">Evento:</label>
  <input type="text" id="Evento-txtNombre" placeholder="nombre eventualidad..." name="txtNombre" />
  <label for="Evento-estado">Estado</label>
  <select id="Evento-cmbEstado" name="cmbEstado">
    <option value="ACT">Activo</option>
    <option value="FIN">Finalizado</option>
  </select>
  <label for="Evento-Fecha">Fecha:</label>
  <input type="date" id="Evento-Fecha" name="fecha" value="">
  <label for="Evento-create-Hora">Hora:</label>
  <input type="time" id="Evento-Hora" name="hora" value="">
  <label for="Evento-Lugar">Lugar:</label>
  <input type="text" id="Evento-Lugar" placeholder="Lugar eventualidad..." name="Lugar" />
  
  <button class="ui-btn ui-corner-all ui-shadow ui-icon-check" id="Evento-send" type="button" >Guardar</button>
</div>
</form>
  </div>
  <div data-role="footer" data-theme="b" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#Principal" >Regresar</a>
        </li>
        <li>
          <button class="button" id="btnCerrar"type="button" name="button" data-theme="b">Cerrar Session</button>

        </li>
      </ul>
    </div>
  </div>
</div>
